<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>fire-node</h1>

    <form class="index-form" method="POST">

      <p>Enter data: <input type="text" name="inputdata"  /> </p>

      <button type="submit" name="button"> submit </button>

    </form>

  </body>
</html>
